*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: Cascade Code;
    font-size: 16px;
}

.flexbox-nav{
    display: flex;
    flex-direction: row;
    
    background-color: #114B5F;
    width: 100%;
    height: 15vh;
    justify-content: center;
}

.elem-nav{
    margin: 20px;
    width:25vh;
    text-align: center;
    top: 50%;
}

.home{
    background-color: #1A936F;
}

.aboutme{
    background-color: #88D498;
}

.services{
    background-color: #1A936F;
}

.skills{
    background-color: #88D498;
}

.portfolio{
    background-color: #1A936F;
}

.contact{
    background-color: #88D498;
}